{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/zh_tcwq/template/public/ygcsslist.css">
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>    
    <li {if $_GPC['type']=='all'} class="active" {/if}><a href="{php echo $this->createWebUrl2('sjlqlist',array('type'=>all,'id' => $_GPC['id']));}">全部</a></li>
    <li {if $_GPC['type']=='ok'} class="active" {/if}><a href="{php echo $this->createWebUrl2('sjlqlist',array('type'=>ok,'id' => $_GPC['id']));}">已使用</a></li>
    <li {if $_GPC['type']=='no'} class="active" {/if}><a href="{php echo $this->createWebUrl2('sjlqlist',array('type'=>no,'id' => $_GPC['id']));}">未使用</a></li>
</ul>
<div class="main">   
    </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                领取列表
            </div>
            <div class="panel-body" style="padding: 0px 15px;">
                <div class="row">
                    <table class="yg5_tabel col-md-12">
                        <tr class="yg5_tr1">
                            <td class="store_td1 col-md-1">用户头像</td>
                             <td class="col-md-1">用户昵称</td>
                            <td class="col-md-1">领取时间</td>
                            <td class="col-md-1">状态</td>

                        </tr>
                        {loop $list $row}
                        <tr class="yg5_tr2">
                            <td><img class="store_list_img" src="{$row['user_img']}"/></td>
                            <td>{$row['user_name']}</td>
                            <td>{$row['time']}</td>
                            <td>{if $row['state']==1} <span class="label storered">已使用</span>{elseif $row['state']==2} <span class="label storeblue">未使用</span>{/if}</td>
                        </tr>
                {/loop}
                    </table>
                </div>
            </div>
        </div>
    {$pager}
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-3").show();
        $("#yframe-3").addClass("wyactive");    
    })
</script>