@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?en1rei');
  src:  url('fonts/icomoon.eot?en1rei#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?en1rei') format('truetype'),
    url('fonts/icomoon.woff?en1rei') format('woff'),
    url('fonts/icomoon.svg?en1rei#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-red-envelope:before {
  content: "\e900";
}
.icon-newGroup:before {
  content: "\e901";
}
.icon-copy-bold:before {
  content: "\e902";
}
.icon-cut:before {
  content: "\e903";
}
.icon-delete-bold:before {
  content: "\e904";
}
.icon-move-bottom:before {
  content: "\e905";
}
.icon-move-down:before {
  content: "\e906";
}
.icon-move-top:before {
  content: "\e907";
}
.icon-move-up:before {
  content: "\e908";
}
.icon-paste:before {
  content: "\e909";
}
.icon-advertising:before {
  content: "\e90a";
}
.icon-sliding-panel:before {
  content: "\e90b";
}
.icon-thumb:before {
  content: "\e90c";
}
.icon-smiley-solid:before {
  content: "\e90d";
}
.icon-thumb-solid:before {
  content: "\e90e";
}
.icon-smiley:before {
  content: "\e90f";
}
.icon-heart-solid:before {
  content: "\e910";
}
.icon-star:before {
  content: "\e911";
}
.icon-star-solid:before {
  content: "\e912";
}
.icon-row-number:before {
  content: "\e913";
}
.icon-sidebar:before {
  content: "\e914";
}
.icon-row-number-refresh:before {
  content: "\e915";
}
.icon-drop-down:before {
  content: "\e916";
}
.icon-pic-options:before {
  content: "\e917";
}
.icon-upload-video:before {
  content: "\e918";
}
.icon-big-pic:before {
  content: "\e919";
}
.icon-pay-btn:before {
  content: "\e91a";
}
.icon-add-assemble:before {
  content: "\e91b";
}
.icon-resource:before {
  content: "\e91c";
}
.icon-customer-service:before {
  content: "\e91d";
}
.icon-head-portrait:before {
  content: "\e91e";
}
.icon-top:before {
  content: "\e91f";
}
.icon-release:before {
  content: "\e920";
}
.icon-filter-down:before {
  content: "\e921";
}
.icon-filter-f:before {
  content: "\e922";
}
.icon-filter-up:before {
  content: "\e923";
}
.icon-list-block:before {
  content: "\e924";
}
.icon-list-vertical:before {
  content: "\e925";
}
.icon-gallery-add-group:before {
  content: "\e926";
}
.icon-gallery-move:before {
  content: "\e927";
}
.icon-gallery-confirm:before {
  content: "\e928";
}
.icon-gallery-clear:before {
  content: "\e929";
}
.icon-gallery-edit:before {
  content: "\e92a";
}
.icon-add-navigation:before {
  content: "\e92b";
}
.icon-topic:before {
  content: "\e92c";
}
.icon-plate:before {
  content: "\e92d";
}
.icon-folder:before {
  content: "\e92e";
}
.icon-home:before {
  content: "\e92f";
}
.icon-eyedropper:before {
  content: "\e930";
}
.icon-headphones:before {
  content: "\e931";
}
.icon-heart:before {
  content: "\e932";
}
.icon-lock:before {
  content: "\e933";
}
.icon-unlock:before {
  content: "\e934";
}
.icon-animation:before {
  content: "\e935";
}
.icon-coin-pound:before {
  content: "\e93d";
}
.icon-left-features:before {
  content: "\e967";
}
.icon-left-link:before {
  content: "\e968";
}
.icon-left-system:before {
  content: "\e969";
}
.icon-window-control:before {
  content: "\e96a";
}
.icon-announce-component:before {
  content: "\e96b";
}
.icon-announce1:before {
  content: "\e96c";
}
.icon-addshoppingcart4:before {
  content: "\e96d";
}
.icon-addshoppingcart2:before {
  content: "\e96e";
}
.icon-addshoppingcart1:before {
  content: "\e96f";
}
.icon-addshoppingcart3:before {
  content: "\e970";
}
.icon-video-collect:before {
  content: "\e972";
}
.icon-announce2:before {
  content: "\e973";
}
.icon-announce3:before {
  content: "\e974";
}
.icon-announce4:before {
  content: "\e975";
}
.icon-reservation:before {
  content: "\e976";
}
.icon-promotionusercenter:before {
  content: "\e977";
}
.icon-advanced-list:before {
  content: "\e978";
}
.icon-classification:before {
  content: "\e979";
}
.icon-franchisee-manager:before {
  content: "\e97a";
}
.icon-Information:before {
  content: "\e97b";
}
.icon-webview:before {
  content: "\e97c";
}
.icon-form-info:before {
  content: "\e97d";
}
.icon-zhichi:before {
  content: "\e97e";
}
.icon-tostore:before {
  content: "\e97f";
}
.icon-video-list:before {
  content: "\e980";
}
.icon-eye:before {
  content: "\e981";
}
.icon-play:before {
  content: "\e982";
}
.icon-pendingPayment:before {
  content: "\e983";
}
.icon-bussinessConfirm:before {
  content: "\e984";
}
.icon-beReceived:before {
  content: "\e985";
}
.icon-beEvaluated:before {
  content: "\e986";
}
.icon-beDelivered:before {
  content: "\e987";
}
.icon-beConfirmed:before {
  content: "\e988";
}
.icon-dynamic-classify:before {
  content: "\e989";
}
.icon-tokeout-mobile:before {
  content: "\e98a";
}
.icon-tokeout:before {
  content: "\e98b";
}
.icon-addshoppingcart:before {
  content: "\e98f";
}
.icon-service:before {
  content: "\e991";
}
.icon-suspension:before {
  content: "\e992";
}
.icon-citylocation:before {
  content: "\e993";
}
.icon-community:before {
  content: "\e994";
}
.icon-comment-bottom:before {
  content: "\e996";
}
.icon-comment-right:before {
  content: "\e997";
}
.icon-cross:before {
  content: "\e998";
}
.icon-drag:before {
  content: "\e999";
}
.icon-album:before {
  content: "\e99a";
}
.icon-audio:before {
  content: "\e99b";
}
.icon-plus:before {
  content: "\e99c";
}
.icon-bbs:before {
  content: "\e99d";
}
.icon-top-nav:before {
  content: "\e99e";
}
.icon-colorstyle:before {
  content: "\e99f";
}
.icon-breakline:before {
  content: "\e9a0";
}
.icon-addfolder:before {
  content: "\e9a1";
}
.icon-button:before {
  content: "\e9a2";
}
.icon-addpage:before {
  content: "\e9a3";
}
.icon-backward:before {
  content: "\e9a4";
}
.icon-carousel:before {
  content: "\e9a5";
}
.icon-arrow-right:before {
  content: "\e9a6";
}
.icon-collect:before {
  content: "\e9a7";
}
.icon-classify:before {
  content: "\e9a8";
}
.icon-config:before {
  content: "\e9a9";
}
.icon-help:before {
  content: "\e9aa";
}
.icon-form-vessel:before {
  content: "\e9ab";
}
.icon-history:before {
  content: "\e9ac";
}
.icon-edit:before {
  content: "\e9ad";
}
.icon-copy:before {
  content: "\e9ae";
}
.icon-delete:before {
  content: "\e9af";
}
.icon-publish:before {
  content: "\e9b0";
}
.icon-save:before {
  content: "\e9b1";
}
.icon-count-ele:before {
  content: "\e9b2";
}
.icon-left-features2:before {
  content: "\e9b3";
}
.icon-template:before {
  content: "\e9b4";
}
.icon-shoppingcart:before {
  content: "\e9b5";
}
.icon-text:before {
  content: "\e9b6";
}
.icon-title-ele:before {
  content: "\e9b7";
}
.icon-bottom-nav:before {
  content: "\e9b8";
}
.icon-page:before {
  content: "\e9b9";
}
.icon-video:before {
  content: "\e9ba";
}
.icon-conponent:before {
  content: "\e9bb";
}
.icon-diamond:before {
  content: "\e9bc";
}
.icon-sort:before {
  content: "\e9bd";
}
.icon-forward:before {
  content: "\e9be";
}
.icon-input-ele:before {
  content: "\e9c0";
}
.icon-preview:before {
  content: "\e9c1";
}
.icon-select-ele:before {
  content: "\e9c2";
}
.icon-textarea-ele:before {
  content: "\e9c3";
}
.icon-time-ele:before {
  content: "\e9c4";
}
.icon-upload-img:before {
  content: "\e9c5";
}
.icon-code:before {
  content: "\e9c6";
}
.icon-map:before {
  content: "\e9c7";
}
.icon-user-center:before {
  content: "\e9c8";
}
.icon-dynamic-vessel:before {
  content: "\e9c9";
}
.icon-free-vessel:before {
  content: "\e9ca";
}
.icon-goods-list:before {
  content: "\e9cb";
}
.icon-layout-vessel:before {
  content: "\e9cc";
}
.icon-list:before {
  content: "\e9cd";
}
.icon-list-vessel:before {
  content: "\e9ce";
}
.icon-picture:before {
  content: "\e9cf";
}
.icon-franchisee-list:before {
  content: "\e9d0";
}
.icon-lens:before {
  content: "\e9d1";
}
.icon-static-vessel:before {
  content: "\e9d2";
}
.icon-search:before {
  content: "\e9d3";
}
.icon-earphone:before {
  content: "\e9d4";
}
.icon-pic:before {
  content: "\e9d5";
}
.icon-bubble:before {
  content: "\e9d6";
}
.icon-seckill:before {
  content: "\e9d7";
}
.icon-tokeout-discount:before {
  content: "\e9d8";
}
.icon-tokeout-reduce:before {
  content: "\e9d9";
}
.icon-element:before {
  content: "\e9db";
}
.icon-top-config:before {
  content: "\e9dc";
}
.icon-bbs-comment:before {
  content: "\e9dd";
}
.icon-bbs-avatar:before {
  content: "\e9de";
}
.icon-bbs-share:before {
  content: "\e9e1";
}
.icon-exclamation-point:before {
  content: "\e9e2";
}
.icon-fontStyle-bold:before {
  content: "\e9e3";
}
.icon-notebook:before {
  content: "\e9e4";
}
.icon-Interactive-message:before {
  content: "\e9e5";
}
.icon-vip-card:before {
  content: "\e9e6";
}
.icon-location:before {
  content: "\e9e7";
}
.icon-refunds:before {
  content: "\e9e8";
}
.icon-videousercenter:before {
  content: "\e9e9";
}
.icon-winningRecord:before {
  content: "\e9ea";
}
.icon-balance:before {
  content: "\e9eb";
}
.icon-pending-delivery:before {
  content: "\e9ed";
}
.icon-pending-payment:before {
  content: "\e9ee";
}
.icon-pending-order:before {
  content: "\e9ef";
}
.icon-pending-evaluate:before {
  content: "\e9f0";
}
.icon-pending-confirm-receipt:before {
  content: "\e9f1";
}
.icon-pending-receipt:before {
  content: "\e9f2";
}
.icon-pending-delivery-meal:before {
  content: "\e9f3";
}
.icon-pending-consum:before {
  content: "\e9f4";
}
.icon-Scratch:before {
  content: "\e9f5";
}
.icon-integral:before {
  content: "\e9f6";
}
.icon-integral-income:before {
  content: "\e9f7";
}
.icon-integral-pay:before {
  content: "\e9f8";
}
.icon-view-records:before {
  content: "\e9f9";
}
.icon-group-success:before {
  content: "\e9fa";
}
.icon-group-fail:before {
  content: "\e9fb";
}
.icon-all-order:before {
  content: "\e9fc";
}
.icon-refund-audit:before {
  content: "\ea01";
}
.icon-not-start-group:before {
  content: "\ea02";
}
.icon-not-used:before {
  content: "\ea03";
}
.icon-group:before {
  content: "\ea04";
}
.icon-notify:before {
  content: "\ea05";
}
.icon-closed:before {
  content: "\ea06";
}
.icon-has-confirm:before {
  content: "\ea07";
}
.icon-invalid:before {
  content: "\ea08";
}
.icon-already-user:before {
  content: "\ea09";
}
.icon-completed:before {
  content: "\ea0a";
}
.icon-already-consumed:before {
  content: "\ea0b";
}
.icon-coupon:before {
  content: "\ea0c";
}
.icon-custom:before {
  content: "\ea0e";
}
.icon-textAlign-center:before {
  content: "\ea0f";
}
.icon-fontStyle-underline:before {
  content: "\ea10";
}
.icon-fontStyle-italic:before {
  content: "\ea11";
}
.icon-textAlign-left:before {
  content: "\ea12";
}
.icon-fontStyle-color:before {
  content: "\ea13";
}
.icon-textAlign-right:before {
  content: "\ea14";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-IcoMoon:before {
  content: "\eaea";
}
